---
layout: layout.liquid
---
<div>
  <div class="title">Hi, I'm Jason</div>
  <div class="blurb">
    I have been exploring fundamental tools and techniques of web development and am ready to transition into the
    industry.
  </div>
  <h2>What can I bring to your team?</h2>
  <div class="skills">
    <div class="skill">
      <div class="skill-title">Java</div>
      <div class="skill-blurb">
        With years of Linux experience, I am comfortable installing and configuring web servers as well as working with
        in containerised testing and development environments.
      </div>
    </div>
    <div class="skill">
      <div class="skill-title">HTML/CSS</div>
      <div class="skill-blurb">
      </div>
    </div>
    <div class="skill">
      <div class="skill-title">JavaScript/TypeScript</div>
      <div class="skill-blurb">
      </div>
    </div>
    <div class="skill">
      <div class="skill-title">React</div>
      <div class="skill-blurb">
      </div>
    </div>
    <div class="skill">
      <div class="skill-title">Linux</div>
      <div class="skill-blurb">
      </div>
    </div>
    <div class="skill">
      <div class="skill-title">Cloud deployment</div>
      <div class="skill-blurb">
      </div>
    </div>
  </div>
</div>
