---
layout: layout.liquid
---

<div class="title">Contact</div>
<h2>Thankyou for checking out my page.</h2>
<div>If you'd like me to be a part of your team, please <a href="mailto:jason@jasont.dev">email</a> me.</div>
