<div>
  <span>&#9993 <a href="mailto:jason@jasont.dev">jason@jasont.dev</a></span>
  <span><i class="fa-brands fa-github"></i> <a href="https://github.com/jasontdev">jasontdev</a></span>
</div>
<div class="copyright">&copy 2022 Jason Telfer. Made with love and <a href="https://www.11ty.dev">11ty</a>.</div>
