---
layout: layout.liquid
---
<h1>Portfolio</h1>
<div class="portfolio-index">
  {%- for item in collections.portfolio reversed -%}
    <div class="portfolio-item">
      <figure>
        <img class="portfolio-item-image" src="/portfolio/{{item.fileSlug}}/{{item.data.image}}">
        <figcaption>
          <a href="{{item.url}}">{{ item.data.title }}</a>
        </figcaption>
      </figure>
    </div>
  {%- endfor -%}
</div>
